@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

.form-container {
    background-color: #b2e9ff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    .form-wrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo {
            color: #00a2ff;
            font-weight: 900;
            font-size: 30px;
        }

        .title {
            color: #00a2ff;
            font-size: 20px;
        }

    

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        input {
            padding: 10px 15px;
            border: none;
            border-bottom: 1px solid #b2e9ff;
            outline: none;
            width: 250px;

            &::placeholder {
                color: rgba(0, 0, 0, 0.438);
            }

            
        }
        #upload {
            display: none;
        }
        button {
            background-color: #00a2ff;
            border: none;
            padding: 8px;
            color: white;
            font-size: 15px;
            font-weight: 900;
            cursor: pointer;

            &:hover {
                background-color: #0084ff;
            }
        }

        label {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;
            width: 150px;
            font-size: 15px;

            img {
                width: 40px;
            }
            span{
                color: red;
            }
        }
        
        
    }
    
}
p {
    span {
        cursor: pointer;
        color: #00a2ff;
        font-weight: bold;
    }
}

}